<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="exchange-rate" version="1.0.5" targetFramework="net461" />
  <package id="TeixeiraSoftware.Finance.Currency" version="4.1.0" targetFramework="net461" />
  <package id="TeixeiraSoftware.Finance.ICurrency" version="1.0.0" targetFramework="net461" />
</packages>